body {
  color: white;
  margin: 0;
  overflow: hidden;
  background-color: rgb(45,45,45)
}

#page {
  height: 100%;
  width: 100%;
}

#LoadingDiv {
  position: fixed;
  background-color: rgb(35,35,35);
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: 50;
  opacity: 1;
}

#LoadingIcon {
  right: 45%;
  top: 40%;
  display: block;
  position: absolute;
  border-radius: 100%;
  max-width: 11.05%;
  max-height: 21.5%;
  transition: 1s;
}

#LoadingTitle {
  font-family: 'Josefin Sans', sans-serif;
  right: center;
  vertical-align: middle;
  font-size: 3vw;
  position: absolute;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:73%;
}

#LoadingQuote {
  text-align: center;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:130%;
  font-size: 1vw;
  font-style: italic;
}

#LoadingIcon.transition {
  transform: rotate(360deg);
}

#LoadingDiv.transition {
  opacity: 0;
}

#transitionSquare {
  background-color: white;
  position: absolute;
  width: 1vw;
  height: 1vw;
  top: 96.5%;
  left: 98%;
  
  animation-duration: 1s;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-name: TransitionSquare;
}

@keyframes TransitionSquare {
  0% {transform: rotateX(0deg)}
  50% {transform: rotateX(180deg)}
  75% {transform: rotateZ(180deg)}
  100%{transform: rotateZ(180deg)}
}

#LoadingQuote, #LoadingTitle #LoadingIcon {
  background-color: none;
  transition: 1s;
  font-family: 'Comic Neue', cursive;
}

ul {
  height: 6%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(30,30,30);
}

.editable-navbar, .editable-navbar-title, #clock {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  font-size: 1.2vw;
  transition: .5s;
}

.editable-navbar {
  height: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.editable-navbar-title, #clock {
  font-family: 'Josefin Sans', sans-serif;
  float: left;
  height: 6%;
  margin: 0;
  font-size: 1.5vw;
}

.editable-navbar:hover:not(.active) {
  background-color: #111111;
  color: rgb(0, 255, 153);
}

.active {
  color: rgb(0, 255, 153);
}

#clock {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vw;
  position: absolute;
  left: 45%;
}

#description {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  font-size: 1.5vw;
  text-align: center;
}

.GameLink {
  width: 15%;
  height: 10%;
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 1vw;
  text-align: center;
  background-color: rgb(50,50,50)
}
